// Color
$footerbg: #414141;
$orange: #F7901E;
$blue: #1BE7FF;
$white: #F3E0EC;
$grey: #615F68;
$darkgrey: #1D1A21;
$purple: #3D293C;


// Fonts
$serif: 'Roboto Slab', serif;
$sans-serif: 'Open Sans', sans-serif;




