#colophon {
	background: $darkgrey;
	text-align: center;
	padding: 1em;

	.menu {

				.menu-item{
				display: inline;
				margin-right: 2em;
				}
		}

	
	.site-info {
		color: $grey;
		font-family: $serif;
		font-weight: 100;
		font-size: 0.95em;
	}
}