#colophon {
	background: $darkgrey;

	.menu {
			text-align:right;

				.menu-item{
				display: inline-block;
				margin-left: 1em;

				}
		}


#footer-logo{

	&:hover{
		color: $blue;
	}
}

	
	.site-info {
		text-align: center;
		color: $white;
		font-family: $serif;
		font-weight: 100;
		font-size: 0.95em;
		padding: 0.1em;
	}
}