#masthead {
	background: $black;
	/* position: fixed;
	width:100%;
	background: transparent;
	z-index: 1000; */
	padding: 0 0 0.5em 0;
}

#site-logo {
	float:left;
	width:35px;

	&:hover{
		opacity: 1.5;
	}

}

#site-branding{
	float:left;
	display:inline-block;
	margin-top: 0.3em;
}

.site-branding-text{
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-left: 1.25em;
}

#site-navigation{
	float:right;

	.menu-item{
		display: inline-block;
		margin: 0 0 2em 1em;
	/* 
		a{
		color: black;
		
		}

		&:hover{
			color: $yellow;
		}
 */
	}
}


.menu-toggle {
	display:none;
}