#masthead {
	background-color:$darkgrey;
}

#site-logo {
	float:left;
	width:150px;
}

#site-branding{
	float:left;
	width: 400px;
}

#site-navigation{
	float:right;

	.menu-item{
		display: inline-block;
		margin-left: 1em;
	/* 
		a{
		color: black;
		
		}

		&:hover{
			color: $yellow;
		}
 */
	}
}


.menu-toggle {
	display:none;
}